<!DOCTYPE html>
<html>

<head>

<title>
Weather Prediction App
</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

<h1>
🌦 Weather Prediction App
</h1>

<form method="POST">

<input
type="text"
name="city"
placeholder="Enter city..."
required
>

<button>
Get Weather
</button>

</form>

{% if weather %}

    {% if weather.error %}

        <p class="error">
        {{ weather.error }}
        </p>

    {% else %}

    <div class="card">

    <h2>
    {{ weather.city }}
    </h2>

    <p>
    🌡 Temperature:
    {{ weather.temperature }} °C
    </p>

    <p>
    💧 Humidity:
    {{ weather.humidity }} %
    </p>

    <p>
    🌬 Wind:
    {{ weather.wind }} m/s
    </p>

    <p>
    ☁ Condition:
    {{ weather.description }}
    </p>

    <h3>

    Predicted Temp:

    {{ prediction }} °C

    </h3>

    </div>

    {% endif %}

{% endif %}

</div>

</body>

</html>